.containItem {
  padding: 0px 10px;
  margin: 5px 10px;
}
.containItem2 {
  padding: 0px 0px;
  margin: 5px 0px;
}
.myArrow {
    height: 100%;
    width: 50px;
    border: none;
    background-color: #b6b5b580;
}
.carouselShadow {
    overflow: hidden;
    border-radius: 15px;
    width: 100%;
    box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.carousel {
  overflow: hidden;
  border-radius: 15px;
  width: 100%;
}
.CarouselHome {
   overflow: hidden;
   border-radius: 15px;
   width: 100%;
}
.row {
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  margin: 20px 0;
  /* box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.5); */
  margin-bottom: 10px;
  align-items: center;
  background-color: rgba(214, 214, 214, 0.4);
}
.title {
  padding: 0;
  margin: 5px 20px;
  text-decoration: underline;
}
.myAva {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-left: 20px;
}
.image {
  width: 140px;
  height: 140px;
  border-radius: 100px;
  display: flex;
  position: relative;
}
.imageContain {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  /* border:1px solid black; */
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.8);
}
.medal {
   width: 80px;
   height: 100px;
   position: absolute;
   bottom: -30px;
   right: -20px;
}
.titleAva{
  margin: 10px 0 0 0 ;
  padding: 0;
}
.text{
  padding: 0;
  margin: 0;
  text-align: center;
}
.margin {
  margin: 20px 0px;
}
.seeMore {
  background: none;
  border: none;
}
.seeMore:hover {
  text-decoration: underline;
  color: rgb(235, 8, 8);
}
.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right:  20px;
}
.emptylist {
   height: 250px;
   width: 100%;
   background-color: transparent;
}