.row {
    display: flex;
    width:100%;
    /* min-width: 350px; */
    padding: 0px;
    overflow: hidden;
}
.rowOnly {
    display: flex;
    margin-top: auto;
}
.fullrow {
    display: flex;
    width: 95%;
    justify-content: space-between;
}
.image {
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.8);

}
.data {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 5px;
    padding-left: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.8);
}
.rate {
    margin-top: 8px;
    align-self: start
}

@media screen and (max-width: 700px) {
    .image{
        border-radius: 5px;
        object-fit: cover;
        height: 190px;
        width: 190px;
    }
    .data{ 
        margin-left: 5px;
        padding-left: 5px;
        height: 190px;
    }
}

.noMargin {
    padding: 0;
    margin: 5px;
}

.button {
    width: 50px;
    height: 50px;
    top: 50%;
    position: fixed;
    left: 50%;
    margin-top: -45px;
    margin-left: -50px;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    transition: background 0.5s ease;
}

.button:hover {}

.active#heart:before,
.active#heart:after {
    background: red !important;
}

#heart {
    width: 100px;
    height: 90px;
    transition: background 0.5s ease;
}

#heart:before,
#heart:after {
    transition: background 0.5s ease;
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: dimgrey;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

#heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}