.ava {
    width: 100px;
    height: 100px;
}
.contain{
    border-radius: 10px;
    /* box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.8); */
    width: 100%;
    padding-bottom: 20px;
    min-height: 300px;
    overflow: hidden;
}
.title {
    margin: 0 0 0 10px;
    padding: 0;
    text-align: center;
}
.row {
    display: flex;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.8);
    width: 95%;
    border-radius: 5px;
    background-color: #f3f3f3;
    margin: auto;
}
.pageNumber {
    text-align: center;
    border: 1px solid black;
    min-width: 15px;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px;
}
.pageNumber:hover {
     box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.8);
}
.content {
    padding: 0;
    margin: 0;
    text-overflow: ellipsis;
    font-size: small;
}
.userName {
    padding: 0;
    margin: 5px 0;
}