.divWithBackground {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 400px;
    background-image: url("../../../asset/image/searchBackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input {
    min-width: 300px;
    width: 60%;
    height: 45px;
    background-color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 0px 10px;
    font-size: 18px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
}
.input:focus {
    outline-width: 0;
    outline: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
}
.button {
    background-color: #0c6bf090;
    border: none;
    color: white;
    padding: 11px 40px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.8);
    margin-left: 25px;
    font-size: 18px;
}

.button:hover {
    background-color: #0c6bf0;
}


@media only screen and (max-width: 600px) {
    .divWithBackground {
        flex-direction: column;
    }
    .button {
        margin-top: 20px;
        margin-left: 0;
    }
}