.background {
    height: 100vh;
    min-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: #d7d9db65;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.8);
    height: 50vh;
    width: 30vm;
    min-height: 600px;
    min-width: 350px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
    margin: 0;
    padding: 0;
}

.button {
    background-color: #D4303A;
    border: none;
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    margin-top: 5px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.8);
}
.buttonLogin {
    background-color: #0c6bf070;
    border: none;
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.8);
}
.buttonLogin:hover {
    background-color: #0c6bf0bf;
}

.button:hover {
    background-color: #ff303A;
}

h5 {
    margin-top: 20px;
}

.buttonText {
    padding: 0;
    margin: 0;
}
.error {
    align-self: flex-end;
    margin: -20px 20px 40px 0px;
    font-style: italic;
    color: rgb(235, 8, 8);
}