.myItem {
    width: 200px;
    height: 250px;
    padding: 5px;
    background-color: white;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5);
    border: 1px solid transparent;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.image {
    width: 100%;
    height: 65%;
    border-radius: 10px;
}
.title {
    padding: 0;
    margin: 0;
}
.des {
    padding: 0;
    margin: 0 5px;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.rate {
    width: 15px;
    height: 15px;
    align-self: start;
}
.row {
    display: flex;
    width: 100%;
    padding-left: 25px;
    align-items: center;
    margin-top: 3px;
}
@media screen and (max-width: 600px) {
    .myItem {
        width: 150px;
        height: 200px;
    }
}

@media screen and (max-width: 400px) {
    .myItem {
        width: 120px;
        height: 150px;
    }
    .title {
        font-size: 8px;
    }
    .des{
        font-size: 8px;
    }
    .rate {
        width: 5px;
        height: 5px;
    }
}
